div {
	text-align: justify;
	text-justify: inter-word;
}

.flag_icon {
	height: 1em;
}

.contact {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-project {
    /*float: right;*/
	padding: 5px 10px;
}

td {
  vertical-align: middle !important;
}

img.circle {
	/*border-radius: 100%;*/
	width: 100%;
}

table.publis {
	font-size: 11pt;
}